/*Page sizes*/
$wrapper-size: 1200px;

/*Typography*/

$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-headlines: "DM Sans", sans-serif;
$font-action: "DM Sans", sans-serif;
$font-code: menlo, monaco, consolas, "Lucida Console", monospace;

/* Colors */
$accent-color: #331B3B;
$secondary-color: #FDC021;

/* Text size */
$font-size-main: 1.025rem;
$font-size-main-mobile: 1rem;
$font-size-extra-small: .9em;
$font-size-small: .95em;
$font-size-large: 1.05em;
$font-size-caption: 0.9rem;

/* Headline size */

$font-size-h1: 4.5rem;
$font-size-h1-note: calc(4.5rem * 0.88);
$font-size-h1-mobile: 3rem;

$font-size-h2: 3.25rem;
$font-size-h2-note: calc(3.25rem * 0.88);
$font-size-h2-mobile: 2.35rem;

$font-size-h3: 2.25rem;
$font-size-h3-mobile: 2rem;

$font-size-h4: 1.75rem;
$font-size-h4-mobile: 1.5rem;

$font-size-h5: 1.25rem;
$font-size-h5-mobile: 1.25rem;

$font-size-h6: 1em;

/* Transition */
$transition-function: cubic-bezier(.645, .045, .355, 1);
$transition-duration: .35s;

/* Units */
$unit-measure-15px: 0.938rem;
$unit-measure-20px: 1.25rem;
$unit-measure-25px: 1.5625rem;
$unit-measure-30px: 1.875rem;
$unit-measure-35px: 2.188rem;
$unit-measure-40px: 2.5rem;
$unit-measure-45px: 2.813rem;
$unit-measure-60px: 3.75rem;
$unit-measure-80px: 5rem; 
$unit-measure-90px: 5.625rem; 
$unit-measure-146px: 9.125rem;
